Adapter/Broobu.SweNet.Adapter/Service References/SweNet/ISwenetDataProvider.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://esa-spaceweather.net/swenet/xfire-webservice" xmlns:ns1="http://webservice.http.swenet.estec.esa.eu" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://esa-spaceweather.net/swenet/xfire-webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://esa-spaceweather.net/swenet/xfire-webservice">
<xsd:element name="logout">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="logoutResponse">
<xsd:complexType/>
</xsd:element>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getData">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="tns:ArrayOfString"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" type="xsd:dateTime"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ISwenetDataSet"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getColumnNames">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getColumnNamesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getTableNames">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getTableNamesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDate">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getColumnTypes">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getColumnTypesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="login">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="loginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.http.swenet.estec.esa.eu">
<xsd:complexType name="ISwenetDataSet">
<xsd:sequence>
<xsd:element minOccurs="0" name="columnCount" type="xsd:int"/>
<xsd:element minOccurs="0" name="columnNames" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="columnTypes" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="data" nillable="true" type="xsd:ArrayOfArrayOfAnyType"/>
<xsd:element minOccurs="0" name="endDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="rowCount" type="xsd:int"/>
<xsd:element minOccurs="0" name="startDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="tableName" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="ArrayOfArrayOfAnyType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ArrayOfAnyType" nillable="true" type="xsd:ArrayOfAnyType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfAnyType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getDataRequest">
    <wsdl:part name="parameters" element="tns:getData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColumnNamesResponse">
    <wsdl:part name="parameters" element="tns:getColumnNamesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColumnTypesResponse">
    <wsdl:part name="parameters" element="tns:getColumnTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDataResponse">
    <wsdl:part name="parameters" element="tns:getDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="tns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTableNamesRequest">
    <wsdl:part name="parameters" element="tns:getTableNames">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="tns:logout">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColumnTypesRequest">
    <wsdl:part name="parameters" element="tns:getColumnTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getColumnNamesRequest">
    <wsdl:part name="parameters" element="tns:getColumnNames">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestDateRequest">
    <wsdl:part name="parameters" element="tns:getLatestDate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTableNamesResponse">
    <wsdl:part name="parameters" element="tns:getTableNamesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestDateResponse">
    <wsdl:part name="parameters" element="tns:getLatestDateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISwenetDataProviderPortType">
    <wsdl:operation name="logout">
      <wsdl:input name="logoutRequest" message="tns:logoutRequest">
    </wsdl:input>
      <wsdl:output name="logoutResponse" message="tns:logoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input name="getDataRequest" message="tns:getDataRequest">
    </wsdl:input>
      <wsdl:output name="getDataResponse" message="tns:getDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumnNames">
      <wsdl:input name="getColumnNamesRequest" message="tns:getColumnNamesRequest">
    </wsdl:input>
      <wsdl:output name="getColumnNamesResponse" message="tns:getColumnNamesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableNames">
      <wsdl:input name="getTableNamesRequest" message="tns:getTableNamesRequest">
    </wsdl:input>
      <wsdl:output name="getTableNamesResponse" message="tns:getTableNamesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDate">
      <wsdl:input name="getLatestDateRequest" message="tns:getLatestDateRequest">
    </wsdl:input>
      <wsdl:output name="getLatestDateResponse" message="tns:getLatestDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumnTypes">
      <wsdl:input name="getColumnTypesRequest" message="tns:getColumnTypesRequest">
    </wsdl:input>
      <wsdl:output name="getColumnTypesResponse" message="tns:getColumnTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="loginRequest" message="tns:loginRequest">
    </wsdl:input>
      <wsdl:output name="loginResponse" message="tns:loginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISwenetDataProviderHttpBinding" type="tns:ISwenetDataProviderPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logout">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="logoutRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDataResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumnNames">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getColumnNamesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getColumnNamesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableNames">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getTableNamesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTableNamesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatestDateRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLatestDateResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumnTypes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getColumnTypesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getColumnTypesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISwenetDataProvider">
    <wsdl:port name="ISwenetDataProviderHttpPort" binding="tns:ISwenetDataProviderHttpBinding">
      <wsdlsoap:address location="https://ssa-be-vm-fe-08p.ssa.esa.int/swenet/xfire-webservice/ISwenetDataProvider"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
